[submodule "vim/.vim/bundle/jedi-vim"]
	path = vim/.vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "vim/.vim/bundle/vim-incpy"]
	path = vim/.vim/bundle/vim-incpy
	url = https://github.com/arizvisa/vim-incpy
[submodule "vim/.vim/bundle/vim-go"]
	path = vim/.vim/bundle/vim-go
	url = https://github.com/faith/vim-go
[submodule "vim/.vim/bundle/neosnippet.vim"]
	path = vim/.vim/bundle/neosnippet.vim
	url = https://github.com/Shougo/neosnippet.vim
[submodule "vim/.vim/bundle/neosnippet-snippets"]
	path = vim/.vim/bundle/neosnippet-snippets
    url = https://github.com/Shougo/neosnippet-snippets
[submodule "vim/.vim/bundle/SimpleAutoComplPop"]
	path = vim/.vim/bundle/SimpleAutoComplPop
    url = https://github.com/roxma/SimpleAutoComplPop
